.k{
    background-color: hotpink;
    color: deepskyblue;
}
.ks{
    background-color: black;
    color: white;
}
.cc{
    color: red;
    background-color: aqua;

}
.rr{
    color: pink;   
    background-color: lightcoral;

}